@import "../../App.scss";

.heading {
  position: relative;
  top: 10%;
  padding: 30px;
  color: orange;
  overflow-x: hidden;

  h3 {
    margin-left: 10%;
    font-size: 48px;
    font-weight: 300;

    @include mobile {
      font-size: 36px;
      margin-left: 20%;
    }
  }
}

.tabs-container {
  position: relative;
  top: 10%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1366px;
  margin: auto;
  gap: 10%;
  overflow: hidden;

  @include mobile {
    flex-direction: column;
  }

  .tabs {
    // flex: 1;
    display: flex;
    flex-direction: column;
    width: 300px;

    @include mobile {
      margin-left: 7%;
    }

    .tab {
      font-size: 16px;
      padding: 10px;
      margin: 5px 0;
      border: none;
      border-radius: 5px;
      background-color: #27272c;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #d0d0d0;
      }

      &.active {
        background-color: orange;
      }
    }
  }

  .tab-content {
    // flex: 1;
    width: 700px;
    height: 500px;
    overflow: hidden;
  }
}

.renderedContent {
  h2 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;

    @include mobile {
      margin-left: 5%;
    }
  }

  h2:hover {
    color: orange;
  }

  .excontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    @include mobile {
      grid-template-columns: repeat(1, 1fr);
      width: 80vw;
      height: 330px;
      margin-left: 5%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .edudiv {
      background-color: #262638;
      padding: 5px;
      border-radius: 5px;
      font-weight: 200;

      h3 {
        color: orange;
        margin: 10px;
        font-weight: 300;
      }
      p {
        margin: 10px;
        color: white;
      }
    }
    .edudiv:hover {
      transform: scale(1.05);
    }
  }
}

.skillContainer {
  h2 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
    @include mobile {
      margin-left: 5%;
    }
  }

  h2:hover {
    color: orange;
  }
  .skills-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
      width: 80vw;
      height: 330px;
      margin-left: 5%;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .skillItem {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 100px;
      background-color: #262638;
      padding: 5px;
      border-radius: 5px;
      font-size: 45px;

      &:hover::after {
        content: attr(data-tip);
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.7);
        color: #fff;
        white-space: nowrap;
        font-size: 0.75rem;
        z-index: 10;
        opacity: 1;
        visibility: visible;
      }
    }
    .skillItem:hover {
      transform: scale(1.05);
      color: orange;
    }
  }
}

.aboutContainer {
  h2 {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 10px;
    @include mobile {
      margin-left: 5%;
    }
  }

  h2:hover {
    color: orange;
  }
  .desc {
    background-color: #262638;
    padding: 10px;
    border-radius: 5px;
    line-height: 30px;
    text-align: justify;

    @include mobile {
      font-size: 20px;
      padding: 20px;
      width: 80vw;
      height: 330px;
      margin-left: 5%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
