@import "../../App.scss";

.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @include mobile {
      justify-content: flex-end;
      padding: 20px;
    }

    span {
      font-weight: bold;
      margin-left: 8%;

      @include mobile {
        display: none;
      }
    }

    .social {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;

      button {
        padding: 5px 10px;
        border: 1px solid white;
        border-radius: 5px;
        background-color: transparent;
        color: white;
        cursor: pointer;
        font-weight: 300;
      }

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
